{% extends '@{{project_name}}_theme/components/nodes/_abstract/_node.html.twig' %}

{% block content %}
  <div class="{{ prefix }}-content">
    {{ content.field_paragraph_multi_01 }}
  </div>
{% endblock  %}
